# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Terraform
.terraform/                      
.terraform.lock.hcl              
terraform.tfstate               
terraform.tfstate.backup        
*.tfstate                        

# Lambda package
nestjs-api.zip            


# Serverless Framework
.serverless/
.sls-next/
.slsignore
.my-nest-app.zip

# Directorios de compilación
dist/
build/
coverage/

# Configuración de IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Archivos de entorno
.env
.env.local
.env.*.local

# Cachés de dependencias y lockfiles
yarn.lock
pnpm-lock.yaml

# Docker
docker-compose.override.yml
.dockerignore

# Logs y dumps
logs/
*.log
*.out
*.pid
*.gz
dump.rdb
node_modules/.cache/

# AWS y credenciales
.aws/
.aws-sam/
*.pem
*.key

# DynamoDB Local
.dynamodb/

# Otros
.DS_Store
Thumbs.db
